@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Jura:700');

// font-family: "Montserrat", sans-serif;
// font-family: 'Jura', sans-serif;
html {
    max-width: 100vw;

    body {
        max-width: 100vw;
    }
}

.is-fullcentered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width-content {
    min-width: 100%;
    width: 100%;
}

.is-borderless {
    border: none !important;
}

.higlight-title {
    display: block;
    width: 100%;
    height: 7rem;
    background-repeat: no-repeat;
    background-size: 6rem;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .higlight-title {
        height: 6rem;
        background-size: 5rem;
    }
}

.menu-item {
    a {
        font-family: 'Montserrat' !important;
    }
}

.menu-item-mobile {
    a {
        font-family: 'Jura' !important;
    }
}

h1 {
    font-family: 'Jura' !important;
}

h2 {
    font-family: 'Jura' !important;
}

h3 {
    font-family: 'Montserrat' !important;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.highlight-title-is-3 {
    z-index: 1;
    position: relative;
}

.highlight-title-is-3:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -3px;
    width: calc(100% + 6px);
    height: 10px;
    z-index: -1;
}

.highlight-title-is-3-white:after {
    background: #ffffff;
}

.highlight-title-is-3-yellow:after {
    background: #E2D637;
}

h4 {
    font-family: 'Jura' !important;
}

p {
    font-family: 'Montserrat' !important;
}

.button {
    &a {
        font-family: 'Montserrat' !important;
    }
}

.media {
    .media-content {
        overflow: unset;
    }
}

.title,
.subtitle {
    word-break: initial;
}

input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

// for stencil-section
.contain-section {
    box-sizing: inherit;
    position: relative;
}

.container-stencil-section {
    line-height: 0;
    position: relative;
    left: 0;
    bottom: -2px;
    width: 100%;

}

.stencil-background-yellow {
    fill: #e2d637 !important;
}

.stencil-background-white {
    fill: #ffffff !important;
}

// créer ces classes css global