@charset "utf-8";
//  ce fichier sert seulement à modifier les variables sass bulma : https://bulma.io/documentation/customize/variables/
$yellow: #E2D637;
$grey-light:#E1E1E1;
$grey-dark:#262524;
$red: #FF5B28;
$tablet:768px;

@import '~bulma/bulma.sass';