@import '~bulma/bulma';
//  ce fichier sert seulement à modifier les variables sass bulma : https://bulma.io/documentation/customize/variables/

$device:1350px; // juste un exemple
$yellow: #E2D637;
$grey-light:#E1E1E1;
$grey-darker:#262524;
$red: #FF5B28;